.swal2-popup {
  background-color:rgb(124, 124, 250) !important;
  box-shadow: 0 0 3px rgba(0,0,0,.5) !important;
  border: 1px solid gray !important;
}

.swal2-confirm{
  border-radius: 18px !important;
  border: 1px solid black !important;
  background-color: transparent !important;
  color: black !important;
  font-weight: 600 !important;
}

.swal2-cancel {
  background-color: red;
  color: #fff;
}

.my-title-class {
  font-size: 24px !important;
  font-weight: 600 !important;
  font-family: Arial, sans-serif !important;
  color: black !important;
}

.swal2-input {
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  background-color: transparent !important;
  color: black !important;
  font-weight: 500 !important;
}

.swal2-html-container{
  color: black !important;
  font-weight: 600 !important;
  font-family: Arial, sans-serif !important;
}
